@font-face {
  font-family: Pacifico-Regular;
  src: url("../Fonts/Pacifico-Regular.ttf");
}

@font-face {
  font-family: Futura-Book-Font;
  src: url("../Fonts/Futura-Book-font.ttf");
}

@font-face {
  font-family: JosefinSlab-VariableFont_wght;
  src: url("../Fonts/JosefinSlab-VariableFont_wght.ttf");
}

:root {
  --golden: #ffc000;
  --forestgreen: #014421;
  --white: white;
  --text: Futura-Book-Font;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Text */
h1 {
    font-family: josefinSlab-VariableFont_wght;
    color: var(--white);
    font-size: 60px;
    font-weight: 600;
}

h2 {
    font-family: pacifico-regular;
    color: var(--golden);
    font-size: 90px;
}

h3 {
    font-family: pacifico-regular;
    color: var(--golden);
    padding: 45px;
    font-size: 45px;
    text-align: center;
}


h5 {
    font-family: pacifico-regular;
    color: var(--golden);
    padding: 60px 45px 45px 45px;
    font-size: 45px;
}


.card-title {
    font-family: var(--text);
    color: var(--golden);
    font-weight: 500;
}

h6 {
    font-family: pacifico-regular;
    color: var(--golden);
    padding: 10px;
}
p,
.nav-bar li {
    font-family: var(--text);
    color: var(--white);
    font-size: 18px;
    font-weight: 300;
}

.skills-list li {
    font-family: JosefinSlab-VariableFont_wght;
    font-size: 20px;
    font-weight: 300px;
}

.mywork-title {
    justify-content: center;
    padding: 120px 20px 60px 20px;
}

ul {
    list-style-type: none;
    color: var(--white);
    line-height: 3.5;
}

.card-title {
    color: var(--forestgreen);
}

.card-text {
    font-family: var(--text);
    color: black;
}

.main-body {
    background-color: black;
}

label {
    font-family: Futura-Book-Font;
    font-size: 16px;
    font-weight: 160;
    color: white;
}

/* Buttons */
.btn {
  background-color: var(--golden);
  height: 36px;
  width: 118px;
  align-items: center;
  color: white;
  border: none;
  border-radius: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 5px 5px 5px grey;
}

.btn:hover {
    background-color: rgb(8, 80, 8);
    color: white;
}

.btn:active {
    background-color: rgb(8, 80, 8);
    box-shadow: 2px 2px 5px rgb(46, 45, 45);
    color: white;
}

.btn-primary {
    height: 40px;
    width: 120px;
    font-size: 18px;
    margin: 20px;
}

/* Navbar */
.custom-nav {
  position: fixed;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}

.nav-item {
  margin: 0px 15px;
}

.custom-nav a {
  color: white;
  font-size: 20px;
}

.custom-nav a:hover {
  color: var(--forestgreen);
}
.custom-nav a:focus {
  color: var(--golden);
}

.custom-nav a:active {
    color: var(--golden);
  }

.navbar-brand img {
    padding-right: 5px;
    width: 75px;
  }

/* Jumbotron */

.jumbotron {
    background-image: url("../images/jumbotron-gradient-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
}

.jumbotron .container {
    position:relative;
}

.jumbotron h1,
p {
  padding: 10px;
}

.container p {
    font-size: 22px;
}

/* My Work */
.card-img-top {
    width: 100%;
    height: 14vw;
    object-fit: cover;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

/* About Me */
.col {
    padding: 40px 20px;
}

/* contact Me */
.text-box {
    width: 75%;
    height: 35px;
    box-sizing: border-box;
    padding: 12px 12px;
    margin: 10px 0px 20px;
    border: 2px solid var(--forestgreen);
    border-radius: 6px;
}

textarea {
    width: 75%;
    height: 100px;
    box-sizing: border-box;
    padding: 12px 12px;
    margin: 10px 0px;
    border: 2px solid var(--forestgreen);
    border-radius: 6px;
}

.contact-item input:hover {
    border: 3px solid var(--forestgreen);
}

.contact-item textarea:hover {
    border: 3px solid var(--forestgreen);
}

/* Footer */
footer {
  background-color: var(--forestgreen);
  justify-content: center;
  text-align: center;
  padding: 20px 10px 10px 20px;
}
